# Identity verification

Identity verification represents the highest degree of certainty that the user is who they say they are by establishing a physical connection between the applicant and the PII or evidence provided. 

Common digital methods of true identity verification are:

* **Biometric verification** is, e.g., where a person takes a selfie that is compared to their photo on an official document. 
* **Enrollment codes or two-factor auth (2FA)** is a way to verify that provided contact information is accurate by sending a code to a postal address, email address, and/or phone number (voice or SMS), and requiring that the enrollment code be provided to complete registration or login in the future. 

Knowledge-based verification can be a component of identity verification by referring to data only available in authoritative and private sources.
