# Deep dive: document verification

Digitizing the document verification step for those whose identities are in question is a key part of detecting fraud and of reducing load in UI agency staff. As discussed in Recommended Process for UI Identity Proofing, the system can require everyone to go through a document verification process, or only a subset of individuals \(a “step-up” process\).

The following vendors provide document verification:

* Alloy
* Experian
* ID.me
* IDology
* Socure 

All of these vendors’ documentation verification products combine it with a biometric verification step. The biometric verification is in the form of a selfie that gets checked for “liveness” \(i.e., to check whether someone else’s existing photo was uploaded\) as well as compared against the provided photo ID.

ID.me’s document + biometric verification is built into their primary product offering. They take doc + bio verification a step further than any of the other companies with a remote “in-person” identity proofing interview: a video call in which an applicant must present their documents live. This happens only for the set of people who cannot be verified at other steps in their process. \(You can also get their document verification and/or doc + bio verification products individually, but we don’t have information about the pricing.\)

IDology, and Socure have their own stand-alone document verification products that could be used as the “step up” from a different vendor’s synthetic identity detection. Alloy and Experian could likely provide just a document verification service, but it may not be the most efficient way to do so: Both use Acuant to provide document verification. 

The following vendors do not have document verification:

* Cognito
* Ekata
* SentiLink

